@import "mocha.css";
@define-color backing   #262A3D;
@define-color tokyo-fg  #8DAFF8;


* {
    border: none;
    font-family: Hack Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
    border-radius: 1rem;
    border: none;
}

#workspaces {
  color: @tokyo-fg;
  background-color: @backing;
  padding: 0px 5px 0px 5px;
  margin: 7px 5px 0px 7px;
  border: 1px solid @tokyo-fg;
}

window#waybar {
    color: @pink;
    background: transparent;
}

tooltip {
    background: @backing;
    border: 1px solid @tokyo-fg;
}

tooltip label {
    color: @text;
}

#workspaces button {
  color: @tokyo-fg;
    padding-left: 6px;
    margin: 5px 0;
    box-shadow: inset 0 -3px transparent;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.68);
    background-color: transparent;
}

#workspaces button.active {
  color: @green;
    background-color: @surface1;
}

#workspaces button.focused {
    color: @rosewater;
    background-color: @surface1;
}

#workspaces button.urgent {
    color: @red;
}

#window{
  color: @tokyo-fg;
  background-color: @backing;
  padding: 0px 10px 0px 10px;
  margin: 7px 12px 0px 7px;
  border: 1px solid @tokyo-fg;
}

#custom-playerctl {
  color: @tokyo-fg;
  background-color: rgba(38, 42, 61, 0.7);
  padding: 0px 10px 0px 10px;
  margin: 7px 0px 0px 0px;
  border: 1px solid @tokyo-fg;
}

#tray,

#pulseaudio{
  color: @tokyo-fg;
  background-color: @backing;
  padding: 5px 10px 5px 10px;
  margin: 7px 0px 0px 12px;
  border: 1px solid @tokyo-fg;
}

#clock {
  color: @tokyo-fg;
  background-color: @backing;
  padding: 0px 10px 0px 10px;
  margin: 7px 0px 0px 12px;
  border: 1px solid @tokyo-fg;
}

#battery,

#custom-power {
  background: @surface0;
  margin: 7px 0px 0px 12px;
  padding: 10px 5px 10px 5px;
  border: 1px solid @tokyo-fg;
}

#battery {
  background-color: @backing;
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#tray {
}

#custom-update {
  color: @green;
  background-color: @backing;
  margin: 7px 0px 0px 12px;
  padding: 0px 10px 0px 10px;
  border: 1px solid @tokyo-fg;
}


#custom-swaync{
  color: @tokyo-fg;
  background-color: @backing;
  padding: 0px 13px 0px 10px;
  margin: 7px 7px 0px 12px;
  border: 1px solid @tokyo-fg;
}
