window {
  margin: 5px;
  color: #0a2a66;
  border-radius: 30px;
  border: 0px solid #444444;
  background-image: url('file:///home/tkk/.wallpapers/pastel.png');
  font-family: Hack;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes erscheinen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#input {
  background-color: #0a2a66;
  margin: 40px 60px 0px 60px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 30px;
  color: #fdf6e3;
  font-size: 20px;
  /* margin-top: 40px; */
  border: 1px solid #0a2a66;
}

#inner-box {
  /* margin-top: 30px; */
  margin-bottom: 15px;
  margin-left: 60px;
  margin-right: 60px;
  /* padding-bottom: 60px; */
  /* margin-bottom: 60px; */
  /* background-color: #071d47; */

  /* margin-top: 30px; */
  /* margin: 0px; */
  /* border: 0px solid #444444; */
  /* background-color: #0b2534; */
  /* background-color: rgba(68, 68, 68, 0.0); */
}

/* #inner-box flowboxchild:nth-child(even) { */
/*     background-color: #555555; */
/* } */

#outer-box {
  margin: 0px;
  /* border: 0px solid rgb(203, 75, 22); */
  /* border: 3px solid yellow; */
  /* background-color: rgba(0, 0, 0, 0); */
}

#img {
  visibility: hidden;
}

#scroll {
  /* background-color: red; */
  /* margin: 30px; */
  /* border: 5px solid #1Affff; */
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: rgba(7, 54, 66, 0.9); */
  /* animation: erscheinen 0.3s linear; */
  /* padding-bottom: 50px; */
}

#text {
  /* margin-top: 1px; */
  margin: 1px 0 1px 15px;
  /* margin: 1px; */
  /* border: 2px solid #44aa44; */
  /* background-color: #444444; */
  color: #ffffff;
  background-color: none;
}

#entry {
  padding: 4px 3px;
  font-size: 10px;
  /* margin-left: 60px; */
  /* margin-right: 60px; */
  /* border-radius: 30px; */
  outline-style: none;
  /* padding-left: 15px; */
  /* padding-top: 6px; */
  /* padding-bottom: 6px; */
  /* background-color: red; */
  /* outline: none; */
}

#entry:selected {
  /* padding: 8px 6px; */
  border-radius: 20px;
  /* padding: 0px 4px; */
  /* padding-top: 6px; */
  /* padding-bottom: px; */
  /* outline-style: none; */
  background-color: #3656b8;

}
