@define-color backing   #262A3D;
@define-color tokyo-fg  #8DAFF8;
window {
border-radius: 1rem;
margin: 0px;
border: 1px solid @tokyo-fg;
background-color: @backing;
}
#input {
border-radius: 1rem;
margin: 5px;
border: none;
color: @tokyo-fg;
background-color: @backing;
}

#inner-box {
border-radius: 1rem;
margin: 5px;
border: none;
background-color: @backing;
}

#outer-box {
border-radius: 1rem;
margin: 5px;
border: none;
background-color: @backing;
}

#scroll {
border-radius: 1rem;
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #C0CAF5;
}

#entry:selected {
border-radius: 1rem;
border: 1px solid @tokyo-fg;
background-color: #292E42;
outline-style: none;
}
